# EAS Build Root Ignore
backend/
database/
deployment/
docs/
frontend/
ml/
newmodel/
scratch/
supabase/
tests/
*.apk
*.idsig
*.aab
*.xml
node_modules/
.expo/
mobile/*.apk
mobile/*.idsig
mobile/*.aab
mobile/node_modules/
mobile/.expo/
